.vehicle-img-container {
  width: 100%;
  height: 250px;
}

.vehicle-img {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.vehicle-disc-container {
  padding: 30px;
  font-family: 'PxGroteskLight';
}

.vehicle-title {
  color: rgb(172, 130, 109);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
  font-family: 'PxGrotesk';
}

.vehicle-license{
  font-size: 72px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.vehicle-info-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
}

.vehicle-disc {
  border-top: 1px solid;
  padding-top: 10px;
  flex: 1 0 50%;
  margin-right: 20px;
}