.layout {
  min-height: 90vh;
  width: 100%;

  @include for-sm-phone {
    min-height: 110vh;
  }
  @include for-btw-420-600 {
    min-height: 60vh;
  }
  @include for-tablet{
    min-height: 40vh;
  }
  @include for-desktop-up {
    min-height: 50vh;
  }
}

.layout-last {
  min-height: 110vh;
  width: 100%;

  @include for-sm-phone {
    min-height: 140vh;
  }
  @include for-btw-420-600 {
    min-height: 90vh;
  }
  @include for-tablet{
    min-height: 60vh;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;

  @include for-tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.layout-btn:disabled {
  border: 1px solid $gray-light;
  background-color: $btn-disabled-bg;
  color: $gray-light;
}

.layout-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.layout-btn {
  border: 1px solid;
  background-color: $brown-light;
  color: $white;
  letter-spacing: 2px;
  width: 90%;
  height: 42px;
  font-family: 'PxGrotesk';
  text-transform: uppercase;

  @include for-tablet {
    width: 50%;
  }
}