.driver-img-container {
  width: 100%;
  height: auto;
  
  @include for-tablet {
    width: 40%;
  }
}

.driver-img {
  height: 100%;
  width: 100%;
  min-height: 350px;
  object-fit: none;
  object-position: 50% 20%;
}

.driver-disc-container {
  padding: 30px;
  max-width: 100%;
  font-family: 'PxGroteskLight';

  @include for-tablet {
    max-width: 40%;
  }
}

.driver-name {
  font-size: 72px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.driver-bio {
  font-size: 14px;
  margin-bottom: 30px;
  color: $text;
}
