$background: rgb(247, 243, 239);

// color palette
$gray-light: rgb(217, 216, 203);
$btn-disabled-bg: rgb(157, 157, 157, 0.0);
$brown-light: rgb(172, 130, 109);
$white: rgb(255, 255, 255);
$gray: rgb(199, 199, 199);
$text: rgb(108, 104, 91);
$text-dark: rgb(63, 56, 37);