@mixin for-sm-phone {
  @media (max-width: 375px) {
    @content;
  };
}
@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 600px) {
    @content;
  }
};

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
};

@import './typo.scss';
@import './color.scss';

@import './comp/Footer.scss';
@import './comp//page/Trip.scss';
@import './comp/page/Driver.scss';
@import './comp/page/Vehicle.scss';
@import './comp/page/Map.scss';


@import './layout/logo.scss';
@import './layout/pageLayout.scss';
@import './comp/Eta.scss';
@import './comp/Divider.scss';
@import './layout/SectionTitle.scss';
@import './comp/InfoBold.scss';


body {
  margin: 0;
  background-color: $background;
}

.content {
  padding-top: 120px;
  color: $text-dark;
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.page {
  width: 100%;
  @include for-desktop-up {
    width: 50%;
  }
}

