// Screen
@mixin for-sm-phone {
  @media (max-width: 375px) {
    @content;
  };
}

@mixin for-btw-420-600 {
  @media (min-width: 420px) and (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 600px) {
    @content;
  }
};

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
};

// core
@import './typo.scss';
@import './color.scss';

// page
@import './page/Trip.scss';
@import './page/Driver.scss';
@import './page/Vehicle.scss';
@import './page/Map.scss';

// layouts
@import './layout/Footer.scss';
@import './layout/Eta.scss';
@import './layout/InfoBold.scss';
@import './layout/DotNav.scss';
@import './layout/Divider.scss';
@import './layout/logo.scss';
@import './layout/pageLayout.scss';
@import './layout/SectionTitle.scss';

body {
  margin: 0;
  background-color: $background;
}

.content {
  padding-top: 120px;
  color: $text-dark;
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.page {
  width: 100%;
  @include for-desktop-up {
    width: 50%;
    padding-top: 200px;
  }
}
