@font-face {
  font-family: 'LinoTypeBlack';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-Black.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeBlackItalic';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-BlackItalic.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeBold';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-Bold.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeBoldItalic';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-BoldItalic.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeDemiBold';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-DemiBold.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeDemiBoldItalic';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-DemiBoldItalic.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeExtraBlack';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-ExtraBlack.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeItalic';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-Italic.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeMedium';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-Medium.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeMediumItalic';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-MediumItalic.otf') format('trueType');
}

@font-face {
  font-family: 'LinoTypeXBlackItalic';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-XBlackItalic.otf') format('trueType');
}

@font-face {
  font-family: 'LinoType';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd.otf') format('trueType');
}

@font-face {
  font-family: 'PxGroteskBold';
  src: url('../assets/fonts/PxGrotesk-Bold.otf') format('trueType');
}

@font-face {
  font-family: 'PxGroteskBoldIta';
  src: url('../assets/fonts/PxGrotesk-BoldIta.otf') format('trueType');
}

@font-face {
  font-family: 'PxGroteskLight';
  src: url('../assets/fonts/PxGrotesk-Light.otf') format('trueType');
}

@font-face {
  font-family: 'PxGroteskLightIta';
  src: url('../assets/fonts/PxGrotesk-LightIta.otf') format('trueType');
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('../assets/fonts/PxGrotesk-Regular.otf') format('trueType');
}

@font-face {
  font-family: 'PxGroteskIta';
  src: url('../assets/fonts/PxGrotesk-RegularIta.otf') format('trueType');
}

@font-face {
  font-family: 'PxGroteskScreen';
  src: url('../assets/fonts/PxGrotesk-Screen.otf') format('trueType');
}

